<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        {%load static%}
        {%load staticfiles %}

        <link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css">

    </head>
    <body>
        <div id="wrapper">
            <!-- <img class="background" src="{% static "images/background.png" %}" alt=""> -->
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class="header">
            <h1>hired.</h1>
            <p>A Django Project</p>

                    <form class="login" action="/login" method="post">
                    {% csrf_token %}

                        <input type="email" name="email" placeholder="Email">


                        <input type="password" name="password" placeholder="Password">

                        <input type="submit" name="" value="Log In">
                    </form>
                    </div>

        <div class="index">

            <img class="hired" src="{% static "images/hire-devloper.png" %}" alt="You're Hired">
            <p class="info">Looking for a job? Looking to offer a Service? Or just here to see a Django Project. If you dont have an Account already, Please Create an Account here --></p>
        <!-- <div class="registerdiv"> -->


                <form class="register" action="/register" method="post">
                    {% csrf_token %}
                    <label for="first_name">First Name: </label>
                    <input type="text" name="first_name"><br>

                    <label for="last_name">Last Name: </label>
                    <input type="text" name="last_name"><br>

                    <label for="email">Email: </label>
                    <input type="email" name="email"><br>

                    <label for="password">Password: </label>
                    <input type="password" name="password"><br>

                    <label for="password_confirm">Password Confirm: </label>
                    <input type="password" name="password_confirm"><br>
                    <input type="submit" name="" value="Submit">
                </form>
        <!-- </div> -->
    </div>
</div>
    </body>
</html>
